@import url("style.css");

/* reduce vertical space a bit for the 3 result boxes */
.output-monthly,
.output-interest,
.output-total {
  height: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* make the amortization table usable for long loans */
.table-wrapper {
  margin-top: 20px;
  max-height: 360px;
  overflow: auto;
}

@media (max-width: 900px) {
  .main-wrapper { flex-direction: column; }
  .chart-row1 { flex-direction: column; }
}