*{
    margin: 0;
    font-family: "press Start 2P", monospace;
}
body{
    background:linear-gradient(to bottom,rgb(173, 196, 255),#ffffff);
    min-height: 100vh; 
    margin: 0; 
    animation: focus 0.5s forwards;
    
}
@keyframes focus {
    0% {filter:blur(8px);}
    100% {filter:blur(0)}
}

nav{
    background-color: #ffffff;
    height: 100px;
    position: relative;
}
nav button{
    background-color: #ffffff;
    padding: 8px 15px;
    margin-right: 10px;
    border: 0;
    border-radius: 7px;
}
nav button:hover{
    background-color: rgb(237, 217, 255);
    transition: background-color 0.5s ease;
}
nav button:active{
    background-color: rgb(198, 132, 255);
}

.all-top-button{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    border:0;
    background-color: #ffffff;
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding:50px;
}