*{
    margin: 0;
    font-family: "press Start 2P", monospace;
}

h2{
    color: rgb(30, 36, 61);
    text-align: center;
    margin-top: 30px;
}

label{
    display: inline-block;
    color:#444;
}

.output{
    display: inline-block;
}
.input1, .input2, .input3, .output{
    margin-bottom: 50px;
    margin-top: 20px;
    width:50%;
    height: 100px;
    border:0;
    border-radius: 20px;
    background-color: #e4e4e4;

    display: flex;
}
main{
    border:0;
    background-color: #ffffff;
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding:50px;
}

body{
    background:linear-gradient(to bottom,rgb(212, 224, 255),#ffffff);
    min-height: 100vh; 
    margin: 0; 
}
.btn1{
    border: 0;
    color: #ffffff;
    background-color: #9796e8;
    width:100px;
    height: 63px;
    border-radius: 30px;
}
