*{
    margin: 0;
    font-family: "press Start 2P", monospace;
}

h2{
    color: rgb(30, 36, 61);
    text-align: center;
    margin-top: 30px;
}

label{
    display: inline-block;
    color:#444;
}

.output{
    display: inline-block;
}
.input1, .input2, .input3, .output{
    margin-bottom: 50px;
    margin-top: 20px;
    width:50%;
    height: 100px;
    border:0;
    border-radius: 20px;
    background-color: #e4e4e4;
    display: flex;
}
main{
    border:0;
    background-color: #ffffff;
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding:50px;
}

body{
    background:linear-gradient(to bottom,rgb(173, 196, 255),#ffffff);
    min-height: 100vh; 
    margin: 0; 
    animation: focus 0.5s forwards;
}

@keyframes focus {
            0% {filter:blur(8px);}
            100% {filter:blur(0)}
}

.btn1, .btn2{
    border: 0;
    color: #ffffff;
    background-color: #9796e8;
    width:100px;
    height: 63px;
    border-radius: 30px;
    text-align: center;
    line-height: 63px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 0 #7a79c2;
    user-select: none;
}

.btn2 {
    margin-left: 20px;
}

.btn1:hover, .btn2:hover {
    background-color: #8685d8;
}

.btn1:active, .btn2:active {
    box-shadow: 0 2px 0 #7a79c2;
    transform: translateY(2px);
}